body {
	
	width: 60%;
	margin: 0 auto;
	margin-top: 2em;

}

#line {
	text-decoration: underline;
}

.masthead {
	outline: solid;
	height: 104px;
	}

.col-xs-3 {
	
	border-right: solid;
	
}

.entry, .paragraph {
	outline: solid;
}


h1 {
	width: 100%
}

.logo {
	float: right;
	width: 500px;
	font-size: 2.5em;
	text-align: center;

}

img {
	margin: 0 auto;
}

table {
	margin: 0 auto;
}

.entry {
	border-bottom: solid;
}

@media screen and (max-width: 670px) {
	.smiley {
		display: none;
	}
}

input {
	    margin: 2px;
}

.radio {
	width: 100%
}

.ng-invalid {
	font-size: 1.02em;
}

button, #submit {
  display: inline-block;
  margin: 1em 0 0 0;
  padding: 0.4em 2em;
  font-size: 1em;
  background: rgba(255,255,255,0.07);
  color: rgba(0,0,0,0.7);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
  text-decoration: none;
  border: solid 1px rgba(20,20,20,1);
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.05), inset 0 0 35px rgba(0,0,0,0.6), 0 5px 5px -4px rgba(0,0,0,0.8);
}

button:hover {
  background: rgba(255,255,255,0.09);
}

button:active {
  position: relative;
  top: 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.4), inset 0 0 35px rgba(0,0,0,0.6), 0 1px 1px rgba(255,255,255,0.1), inset 0 6px 4px rgba(0,0,0,0.4);
}